.tree-view {
    font-size: 1em;
    background: @tree-view-background-color;

    .selected::before {
        background: fade(@text-color, 5%);
    }

    &:focus {
        .selected::before {
            background: @base-color;
        }
    }

    .amu-panel-contrast & {
        background-color: darken(@app-background-color, 1.5%);
    }
}

.tree-view-resizer {
    .tree-view-resize-handle {
        width: 8px;
    }
}

.focusable-panel {
    opacity: 1;

    &:focus {
        .selected {
            color: @accent-text-color;

            &::before {
                background: @base-color;
            }
        }
    }
}
.list-group .icon::before, .list-tree .icon::before,
.list-tree.has-collapsable-children .list-nested-item > .list-item::before {
    margin-right: 8px !important;
}
.list-tree.has-collapsable-children .list-nested-item > .list-tree > li, .list-tree.has-collapsable-children .list-nested-item > .list-group > li {
    padding-left: 8px !important;
}
.list-tree.has-collapsable-children .list-nested-item > .list-tree > li {
    padding-left: 0 !important;
}
.list-tree.has-collapsable-children li.list-item {
    margin-left: 20px !important;
}
.tree-view .tree-view-root .list-tree {
    padding-left: 8px;
}
