// General colors
@syntax-text-color: @base16-color-base05;
@syntax-cursor-color: @base16-color-base05;
@syntax-selection-color: rgba(0, 150, 135, 0.15);
@syntax-background-color: @base16-color-base00;

// Guide colors
@syntax-wrap-guide-color: @base16-color-base01;
@syntax-indent-guide-color: @base16-color-base01;
@syntax-invisible-character-color: @base16-color-base01;

// For find and replace markers
@syntax-result-marker-color: @base16-color-base03;
@syntax-result-marker-color-selected: @base16-color-base05;

// Gutter colors
@syntax-gutter-text-color: @base16-color-base05;
@syntax-gutter-text-color-selected: @base16-color-base05;
@syntax-gutter-background-color: @base16-color-base00;
@syntax-gutter-background-color-selected: fade(@base16-color-base03, 33%);

// For git diff info. i.e. in the gutter
@syntax-color-added: @base16-color-base0B;
@syntax-color-modified: @base16-color-base09;
@syntax-color-removed: @base16-color-base08;
@syntax-color-renamed: @base16-color-base0D;
